
@model mvcstokk.Models.Entity.musteriler

@{
    ViewBag.Title = "MusteriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Güncelle", "musteri", FormMethod.Post))
{
    <div class="form-group">

        @Html.LabelFor(m => m.MUSTERİID)
        @Html.TextBoxFor(m => m.MUSTERİID, new { @class = "form-control", @readonly = "readonly" })

        @Html.LabelFor(m => m.MUSTERİAD)
        @Html.TextBoxFor(m => m.MUSTERİAD, new { @class = "form-control" })

        @Html.LabelFor(m => m.MUSTERİSOYAD)
        @Html.TextBoxFor(m => m.MUSTERİSOYAD, new { @class = "form-control" })

        <div style="margin-top:15px;">
            <button class="btn btn-warning">Müşteri Güncelle</button>
        </div>

    </div>
}

